@import 'partial';

@import "~@blueprintjs/core/lib/scss/variables";

@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

html, body {  
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  display: none;
  background-image: url(./black.png);
}

div {
  box-sizing: border-box;
}
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}